body{
font-family:Arial;
background:#f1f3f4;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.login-box{
background:white;
padding:40px;
width:300px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
text-align:center;
}

input{
display:block;
width:100%;
margin:10px 0;
padding:10px;
}

button{
background:#1a73e8;
color:white;
border:none;
padding:10px;
width:100%;
}